<meta name="robots" content="noindex" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100565739-31"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.4.0/clappr.min.js"></script>
<script src="https://cdn.statically.io/gh/clappr/dash-shaka-playback/7dae1b5a/dist/dash-shaka-playback.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flv.js@latest/dist/flv.min.js"></script>
<script
  src="https://cdn.statically.io/gh/andrefilimono/clappr-flvjs-playback/377bd2be/dist/clappr-flvjs-playback.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript"
  src="//cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"></script>
<style>
*,body{margin:0}*{padding:0}body{background:#000}.container{position:relative;overflow:hidden;width:100%;padding-top:56.25%}.responsive-iframe{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%}.ads_code{width:fit-content;margin:10px auto;z-index:1001}.ads_code>a>img{width:100%}span.icon-cancel-circled:hover{color:red}span.icon-cancel-circled{background:rgba(34,34,34,.62);color:#fff;display:inline-block;position:relative;border-radius:50px;height:30px;width:30px;line-height:30px;padding:5px;margin:auto;font-weight:bolder}span.icon-cancel-circled:before{content:" ";display:block;background-color:#fff}#ads_overlay .btn-paused{display:none!important}#ads_overlay{position:absolute;width:100%;bottom:50px}#ads_overlay button{border:none;position:relative;cursor:pointer;background:0 0;width:50px;height:30px;padding:0;outline:0;margin-left:50%}
</style>

<body>
  <div id="app">
    <div id="player"></div>
    <div id="ads_overlay"></div>
  </div>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100565739-31"></script>
  <script>var domain = "live2.nobartv8.site";</script>
  <script>
    var webconfig = {
      endpoint: "https://streaming.yourstreamer.xyz/https://alloy.yourstreamer.xyz/web/_aHR0cHM6Ly8xeHN0YXZrYS5ydQ==_/cinema",
      corsbypass: "https://cors.yourstreamer.xyz/",
      player_poster: "https://1.bp.blogspot.com/-rQwy6VsIkes/YDP7Glw-DmI/AAAAAAAANbM/iLTqRcTB1i0abfWpy2di0EQ7L3RfW5S5ACLcBGAsYHQ/s0/nobartvfeat.jpg",
      player_watermark: "https://cdn.acerdriver.xyz/wp-content/uploads/2023/11/Situsa-Taruhan-Online-Terbaik-3.gif",
      player_watermark_link: "https://linkr.bio/pamanslot-id",
      banner_img: "https://cdn.acerdriver.xyz/wp-content/uploads/2023/07/ads-870x80-1.jpg",
      banner_link: "/",
      banner_rel: "sponsored nofollow noopener noreferrer",
      banner_title: "ads",
      banner_alt: "ads",
      analytic: "UA-100565739-31",
      allow_domain: "live2.nobartv8.site",
      allow_direct: false
    };
  </script>
  <script>
  var _0xe7cc=["\x72\x65\x66\x65\x72\x72\x65\x72","\x68\x74\x74\x70\x73\x3A\x2F\x2F\x66\x61\x6C\x6C\x69\x6E\x67\x2D\x62\x72\x6F\x6F\x6B\x2D\x65\x65\x63\x39\x2E\x64\x6F\x70\x70\x65\x6C\x67\x61\x6E\x67\x65\x72\x72\x30\x32\x2E\x77\x6F\x72\x6B\x65\x72\x73\x2E\x64\x65\x76\x2F\x3F\x68\x74\x74\x70\x73\x3A\x2F\x2F\x63\x64\x6E\x2E\x6C\x69\x76\x65\x73\x74\x72\x65\x61\x6D\x61\x70\x69\x2E\x78\x79\x7A\x2F\x67\x65\x74\x63\x6F\x6E\x66\x69\x67\x2E\x70\x68\x70\x3F\x64\x6F\x6D\x61\x69\x6E\x3D","\x62\x61\x6E\x6E\x65\x72\x5F\x69\x6D\x67","","\x3C\x62\x75\x74\x74\x6F\x6E\x20\x6F\x6E\x63\x6C\x69\x63\x6B\x3D\x22\x6D\x79\x43\x6C\x6F\x73\x65\x62\x74\x6E\x28\x29\x22\x3E\x3C\x73\x70\x61\x6E\x20\x63\x6C\x61\x73\x73\x3D\x22\x69\x63\x6F\x6E\x2D\x63\x61\x6E\x63\x65\x6C\x2D\x63\x69\x72\x63\x6C\x65\x64\x22\x3E\x58\x3C\x2F\x73\x70\x61\x6E\x3E\x3C\x2F\x62\x75\x74\x74\x6F\x6E\x3E\x20\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x22\x61\x64\x73\x5F\x63\x6F\x64\x65\x22\x3E\x3C\x61\x20\x68\x72\x65\x66\x3D\x22","\x62\x61\x6E\x6E\x65\x72\x5F\x6C\x69\x6E\x6B","\x22\x20\x74\x69\x74\x6C\x65\x3D\x22","\x62\x61\x6E\x6E\x65\x72\x5F\x74\x69\x74\x6C\x65","\x22\x20\x61\x6C\x74\x3D\x22","\x62\x61\x6E\x6E\x65\x72\x5F\x61\x6C\x74","\x22\x20\x74\x61\x72\x67\x65\x74\x3D\x22\x5F\x62\x6C\x61\x6E\x6B\x22\x20\x72\x65\x6C\x3D\x22","\x62\x61\x6E\x6E\x65\x72\x5F\x72\x65\x6C","\x22\x3E\x3C\x69\x6D\x67\x20\x73\x72\x63\x3D\x22","\x22\x20\x2F\x3E\x3C\x2F\x61\x3E\x3C\x2F\x64\x69\x76\x3E","\x68\x74\x6D\x6C","\x23\x61\x64\x73\x5F\x6F\x76\x65\x72\x6C\x61\x79","\x61\x64\x73\x5F\x6F\x76\x65\x72\x6C\x61\x79","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x64\x69\x73\x70\x6C\x61\x79","\x73\x74\x79\x6C\x65","\x6E\x6F\x6E\x65","\x61\x6C\x6C\x6F\x77\x5F\x64\x69\x72\x65\x63\x74","\x61\x6C\x6C\x6F\x77\x5F\x64\x6F\x6D\x61\x69\x6E","\x69\x6E\x63\x6C\x75\x64\x65\x73","\x41\x75\x74\x68\x6F\x72\x69\x7A\x65\x64\x2C\x20\x63\x6F\x6E\x74\x69\x6E\x75\x65\x20\x70\x6C\x61\x79\x69\x6E\x67\x20","\x6C\x6F\x67","\x68\x72\x65\x66","\x6C\x6F\x63\x61\x74\x69\x6F\x6E","\x68\x74\x74\x70\x73\x3A\x2F\x2F","\x72\x65\x70\x6C\x61\x63\x65","\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x61\x70\x70","\x64\x61\x74\x61\x4C\x61\x79\x65\x72","\x70\x75\x73\x68","\x6A\x73","\x63\x6F\x6E\x66\x69\x67","\x61\x6E\x61\x6C\x79\x74\x69\x63","\x73\x65\x61\x72\x63\x68","\x74\x79\x70\x65","\x68\x61\x73","\x73\x72\x63","\x67\x65\x74","\x70\x61\x72\x61\x6D","\x66\x6C\x76","\x69\x66\x72\x61\x6D\x65","\x68\x6C\x73","\x73\x65\x72\x76\x65\x72","\x63\x61\x74\x63\x68","\x64\x61\x74\x61","\x74\x68\x65\x6E","\x68\x74\x74\x70\x73\x3A\x2F\x2F\x76\x31\x2E\x6D\x69\x72\x72\x6F\x72\x73\x74\x72\x65\x61\x6D\x2E\x78\x79\x7A\x2F\x68\x6C\x73\x33\x36\x35\x2E\x70\x68\x70\x3F\x69\x64\x3D","\x26\x6D\x6F\x64\x65\x3D\x73\x6F\x75\x72\x63\x65\x73","\x61\x6C\x70\x68\x61","\x3C\x76\x69\x64\x65\x6F\x20\x69\x64\x3D\x22\x65\x78\x61\x6D\x70\x6C\x65\x2D\x76\x69\x64\x65\x6F\x22\x20\x63\x6C\x61\x73\x73\x3D\x22\x76\x69\x64\x65\x6F\x2D\x6A\x73\x20\x76\x6A\x73\x2D\x64\x65\x66\x61\x75\x6C\x74\x2D\x73\x6B\x69\x6E\x20\x22\x20\x64\x61\x74\x61\x2D\x73\x65\x74\x75\x70\x3D\x27\x7B\x22\x66\x6C\x75\x69\x64\x22\x3A\x20\x74\x72\x75\x65\x2C\x22\x61\x75\x74\x6F\x70\x6C\x61\x79\x22\x3A\x74\x72\x75\x65\x2C\x22\x6D\x75\x74\x65\x64\x22\x3A\x74\x72\x75\x65\x7D\x27\x63\x6F\x6E\x74\x72\x6F\x6C\x73\x3E\x3C\x73\x6F\x75\x72\x63\x65\x20\x73\x72\x63\x3D\x22","\x63\x6F\x72\x73\x62\x79\x70\x61\x73\x73","\x76\x69\x64\x65\x6F\x48\x6C\x73","\x22\x20\x74\x79\x70\x65\x3D\x22\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x78\x2D\x6D\x70\x65\x67\x55\x52\x4C\x22\x3E\x3C\x2F\x76\x69\x64\x65\x6F\x3E","\x23\x70\x6C\x61\x79\x65\x72","\x68\x74\x74\x70\x73\x3A\x2F\x2F\x61\x70\x69\x2E\x6D\x69\x72\x72\x6F\x72\x73\x74\x72\x65\x61\x6D\x2E\x78\x79\x7A\x2F\x63\x68\x61\x72\x6C\x69\x65\x2F\x6A\x73\x6F\x6E\x2F","\x2E\x6A\x73\x6F\x6E","\x63\x68\x61\x72\x6C\x69\x65","\x68\x74\x74\x70\x73\x3A\x2F\x2F\x61\x70\x69\x2E\x6D\x69\x72\x72\x6F\x72\x73\x74\x72\x65\x61\x6D\x2E\x78\x79\x7A\x2F\x64\x65\x6C\x74\x61\x2F\x6A\x73\x6F\x6E\x2F","\x64\x65\x6C\x74\x61","\x68\x74\x74\x70\x73\x3A\x2F\x2F\x63\x6F\x72\x73\x2E\x6C\x69\x76\x65\x73\x74\x72\x65\x61\x6D\x61\x70\x69\x2E\x78\x79\x7A\x2F\x68\x74\x74\x70\x73\x3A\x2F\x2F\x61\x70\x6B\x31\x35\x30\x2E\x70\x72\x6F\x2F\x73\x74\x72\x65\x61\x6D\x64\x61\x74\x61\x2F","\x6A\x73\x6F\x6E","\x73\x6F\x75\x72\x63\x65\x73","\x73\x6F\x75\x72\x63\x65","\x61\x6A\x61\x78","\x62\x65\x74\x61","\x65\x78\x61\x6D\x70\x6C\x65\x2D\x76\x69\x64\x65\x6F","\x70\x6C\x61\x79","\x65\x6E\x64\x70\x6F\x69\x6E\x74","\x50\x4F\x53\x54","\x7B\x22\x56\x69\x64\x65\x6F\x49\x64\x22\x3A\x22","\x22\x2C\x22\x54\x6F\x6B\x65\x6E\x22\x3A\x22\x22\x2C\x22\x4C\x61\x6E\x67\x75\x61\x67\x65\x22\x3A\x22\x65\x6E\x22\x2C\x22\x41\x70\x70\x49\x64\x22\x3A\x31\x30\x31\x2C\x22\x41\x70\x70\x56\x65\x72\x22\x3A\x31\x30\x36\x34\x7D","\x2F\x35\x33\x33\x34\x37\x37\x33\x2F","\x55\x52\x4C","\x3C\x69\x6D\x67\x20\x73\x74\x79\x6C\x65\x3D\x22\x77\x69\x64\x74\x68\x3A\x31\x30\x30\x25\x3B\x68\x65\x69\x67\x68\x74\x3A\x31\x30\x30\x25\x3B\x22\x20\x73\x72\x63\x3D\x22\x68\x74\x74\x70\x73\x3A\x2F\x2F\x31\x2E\x62\x70\x2E\x62\x6C\x6F\x67\x73\x70\x6F\x74\x2E\x63\x6F\x6D\x2F\x2D\x50\x78\x49\x53\x53\x55\x30\x44\x41\x43\x77\x2F\x59\x4C\x45\x47\x78\x4C\x54\x44\x36\x35\x49\x2F\x41\x41\x41\x41\x41\x41\x41\x41\x4E\x37\x4D\x2F\x6B\x34\x6E\x6D\x47\x63\x48\x76\x72\x55\x59\x75\x6D\x74\x69\x71\x79\x74\x55\x4F\x75\x4B\x6C\x64\x6B\x2D\x65\x2D\x42\x74\x75\x44\x67\x43\x4C\x63\x42\x47\x41\x73\x59\x48\x51\x2F\x73\x30\x2F\x70\x72\x6F\x67\x72\x65\x73\x73\x2E\x67\x69\x66\x22\x20\x63\x6C\x61\x73\x73\x3D\x22\x6F\x66\x66\x6C\x69\x6E\x65\x2D\x73\x74\x72\x65\x61\x6D\x22\x3E","\x70\x6C\x61\x79\x65\x72","\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x22\x63\x6F\x6E\x74\x61\x69\x6E\x65\x72\x22\x3E\x3C\x69\x66\x72\x61\x6D\x65\x20\x73\x63\x72\x6F\x6C\x6C\x69\x6E\x67\x3D\x22\x6E\x6F\x22\x20\x63\x6C\x61\x73\x73\x3D\x22\x72\x65\x73\x70\x6F\x6E\x73\x69\x76\x65\x2D\x69\x66\x72\x61\x6D\x65\x22\x20\x77\x69\x64\x74\x68\x3D\x22\x35\x36\x30\x22\x20\x68\x65\x69\x67\x68\x74\x3D\x22\x33\x31\x35\x22\x20\x73\x72\x63\x3D\x22","\x22\x20\x66\x72\x61\x6D\x65\x62\x6F\x72\x64\x65\x72\x3D\x22\x30\x22\x20\x61\x6C\x6C\x6F\x77\x3D\x22\x61\x63\x63\x65\x6C\x65\x72\x6F\x6D\x65\x74\x65\x72\x3B\x20\x61\x75\x74\x6F\x70\x6C\x61\x79\x3B\x20\x65\x6E\x63\x72\x79\x70\x74\x65\x64\x2D\x6D\x65\x64\x69\x61\x3B\x20\x67\x79\x72\x6F\x73\x63\x6F\x70\x65\x3B\x20\x70\x69\x63\x74\x75\x72\x65\x2D\x69\x6E\x2D\x70\x69\x63\x74\x75\x72\x65\x22\x20\x61\x6C\x6C\x6F\x77\x66\x75\x6C\x6C\x73\x63\x72\x65\x65\x6E\x3E\x3C\x2F\x69\x66\x72\x61\x6D\x65\x3E\x3C\x2F\x64\x69\x76\x3E","\x2E\x66\x6C\x76","\x69\x74\x73\x66\x6C\x76","\x70\x6C\x61\x79\x65\x72\x5F\x70\x6F\x73\x74\x65\x72","\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x76\x6E\x64\x2E\x61\x70\x70\x6C\x65\x2E\x6D\x70\x65\x67\x75\x72\x6C","\x70\x6C\x61\x79\x65\x72\x5F\x77\x61\x74\x65\x72\x6D\x61\x72\x6B","\x70\x6C\x61\x79\x65\x72\x5F\x77\x61\x74\x65\x72\x6D\x61\x72\x6B\x5F\x6C\x69\x6E\x6B","\x74\x6F\x70\x2D\x72\x69\x67\x68\x74","\x65\x6E","\x4D\x6F\x68\x6F\x6E\x20\x4D\x61\x61\x66\x2E\x2E\x2E","\x4C\x69\x76\x65\x20\x53\x74\x72\x65\x61\x6D\x69\x6E\x67\x20\x45\x72\x72\x6F\x72\x20\x2D\x20\x53\x69\x6C\x61\x6B\x61\x6E\x20\x52\x65\x66\x72\x65\x73\x68\x20\x61\x74\x61\x75\x20\x50\x69\x6C\x69\x68\x20\x43\x68\x61\x6E\x6E\x65\x6C\x20\x6C\x61\x69\x6E\x6E\x79\x61\x20\x64\x69\x62\x61\x77\x61\x68\x2E\x2E","\x74\x72\x75\x65","\x31\x30\x30\x25","\x51\x75\x61\x6C\x69\x74\x79","\x48\x69\x67\x68","\x4D\x65\x64","\x4C\x6F\x77","\x68\x65\x69\x67\x68\x74","\x6C\x65\x76\x65\x6C","\x70","\x76\x69\x64\x65\x6F\x2F\x66\x6C\x76","\x73\x65\x61\x72\x63\x68\x50\x61\x72\x61\x6D\x73"];var referer=document[_0xe7cc[0]];var url_config=_0xe7cc[1]+ domain;var player,streamdata;if(webconfig[_0xe7cc[2]]!= _0xe7cc[3]){$(_0xe7cc[15])[_0xe7cc[14]](_0xe7cc[4]+ webconfig[_0xe7cc[5]]+ _0xe7cc[6]+ webconfig[_0xe7cc[7]]+ _0xe7cc[8]+ webconfig[_0xe7cc[9]]+ _0xe7cc[10]+ webconfig[_0xe7cc[11]]+ _0xe7cc[12]+ webconfig[_0xe7cc[2]]+ _0xe7cc[13])}else {var x=document[_0xe7cc[17]](_0xe7cc[16]);x[_0xe7cc[19]][_0xe7cc[18]]= _0xe7cc[20]};if(webconfig[_0xe7cc[21]]!= true){var domain=document[_0xe7cc[0]];var allowDomain=webconfig[_0xe7cc[22]];if(domain[_0xe7cc[23]](allowDomain)){console[_0xe7cc[25]](_0xe7cc[24])}else {window[_0xe7cc[27]][_0xe7cc[26]]= _0xe7cc[28]+ webconfig[_0xe7cc[22]];window[_0xe7cc[27]][_0xe7cc[29]](_0xe7cc[28]+ webconfig[_0xe7cc[22]]);document[_0xe7cc[17]](_0xe7cc[31])[_0xe7cc[30]]= _0xe7cc[3]}};window[_0xe7cc[32]]= window[_0xe7cc[32]]|| [];function gtag(){dataLayer[_0xe7cc[33]](arguments)}gtag(_0xe7cc[34], new Date());gtag(_0xe7cc[35],webconfig[_0xe7cc[36]]);const urlParams= new URLSearchParams(window[_0xe7cc[27]][_0xe7cc[37]]);if(urlParams[_0xe7cc[39]](_0xe7cc[38])&& urlParams[_0xe7cc[39]](_0xe7cc[40])){let type=urlParams[_0xe7cc[41]](_0xe7cc[38]);let src=urlParams[_0xe7cc[41]](_0xe7cc[40]);let param=urlParams[_0xe7cc[41]](_0xe7cc[42]);switch(type){case _0xe7cc[43]:playFlv(src);break;case _0xe7cc[44]:playIframe(atob(src));break;case _0xe7cc[45]:playNormal(atob(src));break;default:playNormal(atob(src))}}else {if(urlParams[_0xe7cc[39]](_0xe7cc[46])&& urlParams[_0xe7cc[39]](_0xe7cc[42])){let server=urlParams[_0xe7cc[41]](_0xe7cc[46]);let param=urlParams[_0xe7cc[41]](_0xe7cc[42]);switch(server){case _0xe7cc[52]:axios[_0xe7cc[41]](_0xe7cc[50]+ param+ _0xe7cc[51])[_0xe7cc[49]]((_0x4904xf)=>{playHls(_0x4904xf[_0xe7cc[48]],webconfig)})[_0xe7cc[47]]((_0x4904xe)=>{console[_0xe7cc[25]](_0x4904xe)});break;case _0xe7cc[60]:axios[_0xe7cc[41]](webconfig[_0xe7cc[54]]+ _0xe7cc[58]+ param+ _0xe7cc[59])[_0xe7cc[49]]((_0x4904xf)=>{$(_0xe7cc[57])[_0xe7cc[14]](`${_0xe7cc[53]}`+ webconfig[_0xe7cc[54]]+ _0x4904xf[_0xe7cc[48]][_0xe7cc[55]]+ _0xe7cc[56]);playNormalVideoJs(_0x4904xf[_0xe7cc[48]][_0xe7cc[55]])})[_0xe7cc[47]]((_0x4904xe)=>{console[_0xe7cc[25]](_0x4904xe)});break;case _0xe7cc[62]:axios[_0xe7cc[41]](webconfig[_0xe7cc[54]]+ _0xe7cc[61]+ param+ _0xe7cc[59])[_0xe7cc[49]]((_0x4904xf)=>{playHls(_0x4904xf[_0xe7cc[48]][_0xe7cc[55]],webconfig)})[_0xe7cc[47]]((_0x4904xe)=>{console[_0xe7cc[25]](_0x4904xe)});break;case _0xe7cc[68]:$[_0xe7cc[67]]({cache:true,async:false,type:_0xe7cc[41],url:_0xe7cc[63]+ param+ _0xe7cc[59],dataType:_0xe7cc[64],success:function(_0x4904x10){streamdata= _0x4904x10[_0xe7cc[65]];if(streamdata[0][_0xe7cc[38]]== _0xe7cc[44]){playIframe(streamdata[0][_0xe7cc[66]])}else {playNormal(streamdata[0][_0xe7cc[66]])}}});break;default:console[_0xe7cc[25]](param);break}}};function playNormalVideoJs(_0x4904x12){var player=videojs(_0xe7cc[69],{});player[_0xe7cc[70]]()}function playHls(_0x4904x14,_0x4904x15){var url=_0x4904x15[_0xe7cc[71]];$[_0xe7cc[67]]({cache:true,async:false,type:_0xe7cc[72],url:_0x4904x15[_0xe7cc[71]],data:_0xe7cc[73]+ _0x4904x14+ _0xe7cc[74],dataType:_0xe7cc[64],success:function(_0x4904x10){if(_0x4904x10[_0xe7cc[76]][_0xe7cc[23]](_0xe7cc[75])){$(_0xe7cc[57])[_0xe7cc[14]](_0xe7cc[77])}else {playNormal(_0x4904x15[_0xe7cc[54]]+ _0x4904x10[_0xe7cc[76]])}}})}function playIframe(_0x4904x18){var player=document[_0xe7cc[17]](_0xe7cc[78]);player[_0xe7cc[30]]+= _0xe7cc[79]+ _0x4904x18+ _0xe7cc[80]}function playNormal(_0x4904x1a){if(_0x4904x1a[_0xe7cc[23]](_0xe7cc[81])){console[_0xe7cc[25]](_0xe7cc[82]);playFlv(_0x4904x1a)}else {var player= new Clappr.Player({autoPlay:true,source:_0x4904x1a,mute:true,plugins:[DashShakaPlayback],poster:webconfig[_0xe7cc[83]],mimeType:_0xe7cc[84],watermark:webconfig[_0xe7cc[85]],watermarkLink:webconfig[_0xe7cc[86]],position:_0xe7cc[87],language:_0xe7cc[88],strings:{en:{default_error_title:_0xe7cc[89],default_error_message:_0xe7cc[90]}},preload:_0xe7cc[91],height:_0xe7cc[92],width:_0xe7cc[92],playInline:true,levelSelectorConfig:{title:_0xe7cc[93],labels:{2:_0xe7cc[94],1:_0xe7cc[95],0:_0xe7cc[96]},labelCallback:function(_0x4904x1b,_0x4904x1c){return _0x4904x1c+ _0x4904x1b[_0xe7cc[98]][_0xe7cc[97]]+ _0xe7cc[99]}},shakaOnBeforeLoad:function(_0x4904x1d){},parentId:_0xe7cc[57]})}}function playFlv(_0x4904x1a){var player= new Clappr.Player({autoPlay:true,mute:true,source:_0x4904x1a,poster:webconfig[_0xe7cc[83]],mimeType:_0xe7cc[100],watermark:webconfig[_0xe7cc[85]],watermarkLink:webconfig[_0xe7cc[86]],position:_0xe7cc[87],language:_0xe7cc[88],strings:{en:{default_error_title:_0xe7cc[89],default_error_message:_0xe7cc[90]}},plugins:[FLVJSPlayback],preload:_0xe7cc[91],height:_0xe7cc[92],width:_0xe7cc[92],parentId:_0xe7cc[57]})}var url_string=window[_0xe7cc[27]][_0xe7cc[26]];var url= new URL(url_string);var param=url[_0xe7cc[101]][_0xe7cc[41]](_0xe7cc[42]);var server=url[_0xe7cc[101]][_0xe7cc[41]](_0xe7cc[46]);function myClosebtn(){var x=document[_0xe7cc[17]](_0xe7cc[16]);x[_0xe7cc[19]][_0xe7cc[18]]= _0xe7cc[20]}
   
  </script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100565739-31"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100565739-31');
</script>

  
</body>
